
<div class="row counts">
  <div class="col-sm-3">
    <p>TOTAL STUDENTS</p>
    <h2><%= Student.all.count %></h2>  
    <small>Total number of student this school year</small>  
  </div>

  <div class="col-sm-3">
    <p>TOTAL CLASSES</p>
    <h2><%= SubjectClass.where(instructor_id: session[:id], school_year: Date.today.year - 1).count %></h2>  

    <small>Total number of your classes this school year</small> </div>

  <div class="col-sm-3">
    <p>SCHOOL YEAR</p>
    <h2><%= "2018-2019" %></h2>  
  </div>

  <div class="col-sm-3">
    <p>SEMESTER</p>
    <h2><%= "2nd Sem" %></h2>  
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <div class="container  dashboard-items">
      <h3> Students per Class Report</h3><hr>
      <%= column_chart ClassEnrollment.joins(:subject_class).where(subject_classes: {instructor_id: session[:id], school_year: "2018"}).group(:subject_class_id).count.map {|k,v| [SubjectClass.find(k).subject.name, v]} %>

    </div>
  </div>
  <div class="col-sm-4 ">
    <div class="container dashboard-items">
      <h3> Students per Year Report</h3><hr>
      <%= pie_chart @customized %>
    </div>
  </div>
</div>