<p id="notice"><%= notice %></p>

<h1>Test Answers</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Test result</th>
      <th>Test question</th>
      <th>Answer</th>
      <th>Check</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_answers.each do |test_answer| %>
      <tr>
        <td><%= test_answer.id %></td>
        <td><%= test_answer.test_result %></td>
        <td><%= test_answer.test_question %></td>
        <td><%= test_answer.answer %></td>
        <td><%= test_answer.check %></td>
        <td><%= link_to 'Show', test_answer %></td>
        <td><%= link_to 'Edit', edit_test_answer_path(test_answer) %></td>
        <td><%= link_to 'Destroy', test_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test Answer', new_test_answer_path %>
