
  <%= form_with(model: student, local: true) do |form| %>
    <% if student.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

        <ul>
        <% student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <% if @student.image.attachment.present? %>
      <%= image_tag(@student.image, class: "edit-image box-shadow") %>
    <% end %>

    <div class="form-group">
      <%= form.label :image %>
      <%= form.file_field :image, class: "form-control-file" %>
    </div>

    <div class="form-group">
      <%= form.label :student_no %>
      <%= form.text_field :student_no, class: "form-control" %>
    </div>

    <div>
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control"  %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <%= form.label :curriculum_year %>
          <%= form.number_field :curriculum_year, class: "form-control"  %>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <%= form.label :year %>
          <%= form.number_field :year, class: "form-control"  %>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <%= form.label :course %>
          <%= form.text_field :course, class: "form-control"  %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :address %>
      <%= form.text_field :address, class: "form-control"  %>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <%= form.label :email %>
          <%= form.text_field :email, class: "form-control"  %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <%= form.label :contact_no %>
          <%= form.text_field :contact_no, class: "form-control"  %>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <%= form.label :year_enrolled %>
          <%= form.number_field :year_enrolled, class: "form-control"  %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <%= form.label :gender %>
          <%= form.text_field :gender, class: "form-control"  %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <%= form.label :birthday %><br/>
          <%= form.date_select :birthday,{},  class: "form-control date"  %>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= form.submit 'submit', class: "btn btn-primary" %>
    </div>
  <% end %>