<div class="jumbotron show">
<h1>Student Information</h1>
<p id="notice"><%= notice %></p>


  <div class="info">
    <% if @student.image.attachment.present? %>
      <div class="student-image box-shadow">
        <%= image_tag(@student.image) %> 
      </div>
    <% end %>   


    <table>
      <tr>
        <th>Student no:</th>
        <td><%= @student.student_no %></td>
      </tr>
      <tr>
        <th>Last name:</th>
        <td><%= @student.name %></td>
      </tr>
      <tr>
        <th>Course:</th>
        <td><%= @student.course %></td>
        <th>Year:</th>
        <td><%= @student.year %></td>
        <th>Curriculum Year:</th>
        <td><%= @student.curriculum_year ? @student.curriculum_year : "NA" %></td>
      </tr>
      <tr>
        <th>Gender:</th>
        <td><%= @student.gender ? @student.gender : "NA"%></td>
        <th>Email:</th>
        <td><%= @student.email ? @student.email : "NA" %></td>
        <th>Contact no:</th>
        <td><%= @student.contact_no ? @student.contact_no : "NA" %></td>
      </tr>
      <tr>
        <th>Birthday:</th>
        <td><%= @student.birthday ? @student.birthday : "NA" %></td>
        <th>Year Enrolled:</th>
        <td><%= @student.year_enrolled ? @student.year_enrolled : "NA" %></td>
      </tr>    
      <tr>
      </tr>
    
    </table>
    
    <%= link_to 'Edit', edit_student_path(@student), class: "btn btn-success new-button" %> 
    <%= link_to 'Destroy', @student, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger new-button" %>  
    <%= link_to 'Back', students_path, class: "btn btn-secondary new-button" %>

    </>
</div>
