<div class="jumbotron show">
<h1>Student Information</h1>
<p id="notice"><%= notice %></p>


  <div class="info">
    <div class="student-image box-shadow">
      <% if @student.image.attachment.present? %>
        <%= image_tag(@student.image) %>
      <% end %>    
    </div>

    <table>
      <tr>
        <th>Student no:</th>
        <td><%= @student.student_no %></td>
      </tr>
      <tr>
        <th>Last name:</th>
        <td><%= @student.last_name %></td>
        <th>First name:</th>
        <td><%= @student.first_name %></td>
        <th>Middle name:</th>
        <td><%= @student.middle_name %></td>
      </tr>
      <tr>
        <th>Course:</th>
        <td><%= @student.course %></td>
        <th>Year:</th>
        <td><%= @student.year %></td>
        <th>Curriculum Year:</th>
        <td><%= @student.curriculum_year %></td>
      </tr>
      <tr>
        <th>Gender:</th>
        <td><%= @student.gender %></td>
        <th>Email:</th>
        <td><%= @student.email %></td>
        <th>Contact no:</th>
        <td><%= @student.contact_no %></td>
      </tr>
      <tr>
        <th>Birthday:</th>
        <td><%= @student.birthday %></td>
        <th>Year Enrolled:</th>
        <td><%= @student.year_enrolled %></td>
      </tr>    
      <tr>
      </tr>
    
    </table>
    
    <%= link_to 'Edit', edit_student_path(@student), class: "btn btn-success new-button" %> 
    <%= link_to 'Destroy', @student, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger new-button" %>  
    <%= link_to 'Back', students_path, class: "btn btn-secondary new-button" %>

    </>
</div>
