<p id="notice"><%= notice %></p>

<h1>Instructors</h1><hr>


<% @instructors.each do |instructor| %>
 
  <div class="instructor-container"> <div class="header"></div>
    <div class="img">
      <% if instructor.image.attachment.present? %>
        <%= image_tag(instructor.image, class: "") %>
      <% end %>
    </div>

    <h4><%= link_to instructor.name, instructor_path(instructor) %></h4>
    <p><%= instructor.position %></p>
  </div>

<% end %>

<br>

<%= link_to 'New Instructor', new_instructor_path, class: "btn btn-primary new-button" %>
