<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @instructor.user_id %>
</p>

<p>
  <strong>Hire date:</strong>
  <%= @instructor.hire_date %>
</p>

<p>
  <strong>Other information:</strong>
  <%= @instructor.other_information %>
</p>

<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
