<h1>Instructor Information</h1><hr>
<p id="notice"><%= notice %></p>

<div class="instructor-info ">

  <div class="instructor-header "></div>

  <div class="image-container">
    <% if @instructor.image.attachment.present? %>
      <%= image_tag(@instructor.image, class: " box-shadow") %>
    <% end %>
  </div>

  <div class="info-container">     

    <p class="instructor-name">
      <%= @instructor.name %>
    </p>

    <p class="instructor-position">
      <%= @instructor.email %> ~ <%= @instructor.position %>
    </p><hr>

    <table>
      <tr>
        <th>Username:</th>
        <td><%= @instructor.username %></td>
        <th colspan="1">Other Information:</th>
        <td rowspan="2" style="vertical-align: top; text-align: left;"><%= @instructor.other_information %></td>
      </tr>
      <tr>
        <th>Contact no:</th>
        <td><%= @instructor.contact_no %></td>
        <td></td>
        
      </tr>
      <tr>
        <th>Address:</th>
        <td><%= @instructor.address %></td>
      </tr>
      <tr>
        <th>Gender:</th>
        <td><%= @instructor.gender %></td>
      </tr>
      <tr>
        <th>Birthday:</th>
        <td><%= @instructor.birthday %></td>
      </tr>

      <tr>
        <th colspan="4">
          <%= link_to 'Edit', edit_instructor_path(@instructor), class: "btn btn-primary new-button" %> 
          <%= link_to 'Destroy', @instructor, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger new-button" %>  
          <%= link_to 'Reset Password', edit_instructor_path(@instructor), class: "btn btn-info new-button" %> 
          <%= link_to 'Back', instructors_path, class: "btn btn-secondary new-button" %></th>
        <th>
          
      </th>
      </tr>
    </table>
  </div><hr>
 
  <div class="instructor-classes">

    <h3>Classes</h3>
    <%= select_tag :school_year, options_for_select(@school_years, @school_year) %>
    <%= render partial: 'subject_classes/display_classes', locals: {classes: @subject_classes} %>
  </div>


</div>
