<div class="ongoing-exam-container">
<input type="hidden" value="<%= @test.id %>" id="test_id">

  <div class="exam-header">
    <h3><%= @test.subject_class.subject.subject_code %> <span><%= @test.subject_class.schedule %></span> </h3>
    <p><%= @test.subject_class.subject.name %></p>
  </div>

  <div class="instructor">    
    <div class="info">
      <div class="item">
        <p><%= image_tag verify_image(@test.subject_class.instructor.image) %> </p>
        <p><%= @test.subject_class.instructor.name %></p> 
      </div>
      <div class="item">
        <table>
          <tr>
            <th>Exam Type:</th>
            <td><%= @test.name %></td>
          </tr>
          <tr>
            <th>Date:</th>
            <td><%= @test.schedule %></td>
          </tr>
          <tr>
            <th>Duration:</th>
            <td><%= "TODO: Duration" %></td>
          </tr>
          <tr>
            <th>Number of Items:</th>
            <td><%= @test.no_of_items %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
<hr>
  <div class="status">
    <a href="#" class="btn btn-primary btn-sm"> View questions</a>
    <a href="#" class="btn btn-info btn-sm"> Start</a>
    <div class="time"><span>Time Remaining: <strong>1 hour 26 min 5 sec</strong></span></div>
  </div><hr>

  <div class="student-list-exam">
    <div class='student-status'>
      <h5>Laurence Bautista</h5>
      <p>status: <strong>Ongoing</strong></p>
      <p>reason: <strong>Change tab</strong></p>
      <p>time finished: <strong>Change tab</strong></p>
      <p>Score: <strong>100</strong></p>
    </div>
  </div>
</div>