<div class="ongoing-exam-container">
<input type="hidden" value="<%= @test.id %>" id="test_id">
<input type="hidden" value="<%= @test.duration %>" id="duration">

  <div class="exam-header">
    <h3><%= @test.subject_class.subject.subject_code %> <span><%= @test.subject_class.schedule %></span> </h3>
    <p><%= @test.subject_class.subject.name %></p>
  </div>

  <div class="instructor">    
    <div class="info">
      <div class="item">
        <p><%= image_tag verify_image(@test.subject_class.instructor.image) %> </p>
        <p><%= @test.subject_class.instructor.name %></p> 
      </div>
      <div class="item">
        <table>
          <tr>
            <th>Exam Type:</th>
            <td><%= @test.name %></td>
          </tr>
          <tr>
            <th>Date:</th>
            <td><%= @test.schedule %></td>
          </tr>
          <tr>
            <th>Duration:</th>
            <td><%= @test.duration.to_s + " minutes" %></td>
          </tr>
          <tr>
            <th>Number of Items:</th>
            <td><%= @test.no_of_items %></td>
          </tr>
          <tr>
            <th>Status:</th>
            <td id="status"><%= @test.status %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
<hr>
  <div class="status">
    <!-- Button trigger modal -->
<a href="#" data-toggle="modal" class="btn btn-primary btn-sm" data-target="#exampleModal">
  View questions
</a> 
 
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Test questions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container overflow-auto">
        
          <table class="index question-table">
            <thead>
              <tr>
                <th>Question</th>
                <th>Answer</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @test_questions.each do |test_question| %>
                <tr>
                  <td><%= test_question.question %></td>
                  <td><%= test_question.answer %></td>
                  <td><%= link_to 'Edit', edit_test_question_path(test_question) %></td>
                  <td><%= link_to 'Destroy', test_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    <span id="action">
      <a href="#" class="btn btn-info btn-sm" id="start"> Start</a>
      <a href="#" class="btn btn-danger btn-sm" id="stop"> Stop</a>
    </span>
    <div class="time"><span>Time Remaining: <strong id="time"><%= @test.duration.to_s + " min" %></strong></span></div>
  </div><hr>

  <div class="student-list-exam">
    <div class='student-status'>
      <h5>Laurence Bautista</h5>
      <p>status: <strong>Ongoing</strong></p>
      <p>reason: <strong>Change tab</strong></p>
      <p>time finished: <strong>Change tab</strong></p>
      <p>Score: <strong>100</strong></p>
    </div>
  </div>
</div>