<%= form_tag "#" do %>
  <%= file_field_tag :file %>
  <%= submit_tag "submit" %>
<% end %>

<%= form_with(model: test_question, local: true) do |form| %>
  <% if test_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test_question.errors.count, "error") %> prohibited this test_question from being saved:</h2>

      <ul>
      <% test_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :test_id %>
  <div class="field">
    <%= form.label :question %>
    <%= form.text_area :question %>
  </div>

  <div class="field">
    <%= form.label :answer %>
    <%= form.text_area :answer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
