<div class="class-header"></div>
  <% if subject_class.instructor.image %>
    <div class="class-image">
      <% if subject_class.instructor.image.attachment %>
        <%= image_tag subject_class.instructor.image %>
      <% else %>
        <%= image_tag "images/cslogo.png" %>
      <% end %>
      <%= link_to subject_class.instructor.name, subject_class.instructor %>
    </div>
  <% end %>
  <div class="class-name"><%= link_to "(" + subject_class.subject.subject_code + ") " + subject_class.subject.name, subject_path(subject_class.id) %></div>
 <table class="info-table-class">    
    <tr>
      <th>Schedule:</th>
      <td  colspan="3"><%= subject_class.schedule %></td>
    </tr>
    <tr>
      <th>Room:</th>
      <td><%= subject_class.room %></td>
    </tr>
    <tr>
      <th>Block:</th>
      <td><%= subject_class.block %></td>
    </tr>
    <tr>
      <th>School year:</th>
      <td><%= subject_class.school_year %></td>
    </tr>
    <tr>
      <th>Sem:</th>
      <td><%= subject_class.sem %></td>
    </tr>
  </table>

  <%= link_to 'Edit', edit_subject_class_path(subject_class) %> |
  <%= link_to 'Students', subject_class %> |
  <%= link_to 'Attendance', attendances_subject_class_path(subject_class) %> |
  <%= link_to 'Tests', tests_path(subject_class_id: subject_class.id) %> |
  <%= link_to 'Summary', "#" %> 
  