
<div class="class-list">
  <% classes.each do |c| %>
    <div class="class-container">  
      <div class="blue-header"></div>  
        <div class="icon">
        <% if c.instructor.image.attachment %>
          <%= image_tag c.instructor.image.variant(resize: "60x60") %><br/>   
        <% else %>
          <%= render 'subject_classes/image' %>
        <% end %>     
        </div>  
      <p><strong><%= link_to c.subject.subject_code , c %></strong></p>
      <p><small style="color: black"><%= c.subject.name %></small></p>
      <p><small><%= c.schedule %></small></p>
      <p><small><%= "Block" + c.block.to_s %></small></p>
    </div>
  <% end %>
</div>