<p id="notice"><%= notice %></p>

<div class="classes-show no-radius">
  <%= render partial: 'subject_classes/class_details', locals: {subject_class: @test.subject_class} %>

  <hr>
  <div class="student-list">
    <h3><%= @test.name %></h3>

    
    <p>
      <strong>Test type:</strong>
      <%= @test.test_type_id %>
    </p>

    <p>
      <strong>Schedule:</strong>
      <%= @test.schedule %>
    </p>

    <p>
      <strong>Is online:</strong>
      <%= @test.is_online %>
    </p>

    <p>
      <strong>No of items:</strong>
      <%= @test.no_of_items %>
    </p>

    <p>
      <strong>Subject class:</strong>
      <%= @test.subject_class_id %>
    </p>

    <%= link_to 'Edit', edit_test_path(@test) %> |
    <%= link_to 'Destroy', @test, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <a href="/tests?subject_class_id=<%= @test.subject_class_id %>">back</a>
    <hr>
    <div class="class-student-list">
      <h3>Students</h3>
      <%= form_tag update_students_scores_test_path(@test) do %>
      <table class="index">
        <thead>
          <th>Student no</th>
          <th>Name</th>
          <th>Year</th> 
          <th>Score</th>        
        </thead>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.student_no %></td>
            <td><%= student.name %></td>
            <td><%= student.year %></td>
            <td><input style="width: 50px; text-align: center" type="text" name="<%= student.student_no %>" value="<%= getScore(@test, student) %>"></td>
          </tr>
        <% end %>
      </table><br>
      <%= submit_tag "Update", class: "btn btn-primary" %>
      <% end %>
    </div>

  </div>
</div>
  