<p id="notice"><%= notice %></p>
<div class="classes-show no-radius">
  <%= render partial: 'subject_classes/class_details', locals: {subject_class: @subject_class} %>

  <hr>
  <div class="student-list">
    <h3><%= @test.name %></h3>

    
    <p>
      <strong>Test type:</strong>
      <%= @test.test_detail.name %>
    </p>

    <p>
      <strong>Schedule:</strong>
      <%= @test.schedule %>
    </p>

    <p>
      <strong>Is online:</strong>
      <%= @test.is_online %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @test.status %>
    </p>

    <p>
      <strong>No of items:</strong>
      <%= @test.no_of_items %>
    </p>

    <p>
      <strong>Duration:</strong>
      <%= @test.duration.to_s + " min" %>
    </p>

    <% if @test.is_online %> 

      <%= link_to 'Exam Panel', ongoing_exam_start_exam_path(id: @test.id) %> |
      <%= render '/tests/view_test_questions' %>
      <%= render '/tests/insert_test_question' %>
    <% end %>    
    <%= link_to 'Edit', edit_test_path(@test) %> |
    <%= link_to 'Destroy', @test, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <a href="/tests?subject_class_id=<%= @test.subject_class_id %>">back</a>
    <hr>
    <div class="class-student-list">
      <h3>Students</h3>
      <table class="index">
        <thead>
          <th>Student no</th>
          <th>Name</th>
          <th>Year</th> 
          <th>Score</th>        
        </thead>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.student_no %></td>
            <td><%= student.name %></td>
            <td><%= student.year %></td>
            <td><%= getScore(@test, student) %></td>
          </tr>
        <% end %>
      </table><br>
      <%= link_to 'edit', edit_students_scores_test_path(@test) %>
    </div>

  </div>
</div>
  