<%= flash[:notice] ? flash[:notice] : "" %>
<div class="container edit-profile">
<h1>Change Password</h1>
  <%= form_tag profile_save_new_password_path, multipart: true do %>

    <div class="form-group">
      <%= label_tag :old_password %>
      <%= password_field_tag :old_password, @student.password %>
    </div>
    <div class="form-group">
      <%= label_tag :new_password %>
      <%= password_field_tag :new_password, @student.password %>
    </div>

    <div class="form-group">
      <%= label_tag :confirm_password %>
      <%= password_field_tag :confirm_password, @student.password_confirmation %>
    </div>

    <%= submit_tag "Save", class: "btn btn-primary" %>
  <% end %>
</div>