<%= form_with(model: attendance, local: true) do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input type="hidden" name="subject_class_id" value="<%= @subject_class.id %>">
  
  <div class="field">
    <%= form.label :date_created %>
    <%= form.date_select :date_created %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
